<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<div class="board-container">

    <div class="board-header">
        <h1>자유 게시판</h1>
        <a th:href="@{/api/posts/new}" class="write-btn">글쓰기</a>
    </div>

    <table class="post-table">
        <thead>
        <tr>
            <th class="col-num">번호</th>
            <th class="col-title">제목</th>
            <th class="col-author">작성자</th>
            <th class="col-date">작성일</th>
            <th class="col-views">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${pagingResponse.content}">
            <td th:text="${post.id}">1</td>
            <td>
                <a th:href="@{/api/posts/{id}(id=${post.id})}" th:text="${post.title}">게시글 제목</a>
            </td>
            <td th:text="${post.nickname}"></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
            <td th:text="${post.viewCount}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination" th:if="${pagingResponse.totalPages > 0}">
        <!-- 첫 번째 Page 라면  -->
        <a th:if="${!pagingResponse.isFirst}" th:href="@{/(page=${pagingResponse.pageNumber - 1})}">&laquo;</a>
        <th:block th:each="pageNumber : ${#numbers.sequence(1, pagingResponse.totalPages)}">
            <a th:href="@{/(page=${pageNumber})}"
               th:text="${pageNumber}"
               th:classappend="${pageNumber == pagingResponse.pageNumber} ? 'active'">
            </a>
        </th:block>
        <a th:if="${!pagingResponse.isLast}" th:href="@{/(page=${pagingResponse.pageNumber + 1})}">&raquo;</a>
    </div>

</div>

</body>
</html>